@import url("https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.7/css/bootstrap.min.css");

.dark-theme {
  background: #333;
  color: #fff;
}
.dark-theme .jumbotron {
  background: #444;
}


.container {
	max-width: 960px;
	margin: 0 auto;
	padding: 0 10%;
  }
  button {
	margin-top: 2rem;
	border: solid 1px #999;
	padding: 0.5rem 1rem;
	cursor: pointer;
  }

  .primary-bg {

  background-color: lightblue;
  color: #333;
  padding: 20px;
} 